.footer{
    background-color: #5a3dc8;
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-top: 4px solid #4a2cb0
    
}
p {
    margin: 0;
    font-size: 12px;
    line-height: 1.6;
}

.links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}