header{
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 3%;
        background-color: #13131d;
        box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);
    }
    .logo { 
        img {
            width: 150px;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-items{
        display: flex;
        gap: 32px;
        align-items: center;
        list-style: none;

        &.open{
            flex-direction: column;
            position: absolute;
            top: 90px;  
            left: 0;
            width: 100%;
            background-color: #13131d;
            padding: 20px;
            }
    }
    .btn-default{
        border-radius: 24px;
        padding: 10px 22px;
        background-color: #7250e9 ;
        font-family: inherit;
        font-weight: 500;
        transition: all 0.3s;

        &:hover{
            background-color: #5a3dc8;
        }
    }

    .btn-mobile{
        display: none;
        background-color: transparent;
        font-size: 20px;
        color: #f7f5ff;
        border: none;
        cursor: pointer;
    }
    @media screen and (max-width: 768px){
        .btn-mobile{
            display: flex;
        }
        .nav-items{
            display: none;

            &.open {
                display: block;
            }
        }
        .btn-default{
            display: none;
        }
    }
}


