.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #c82333;
}
.logoutButton {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c82333;
}

.loadingText {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 50px;
}